* {
    box-sizing: 
    border-box; 
    margin: 0;
}

.widget {
    margin: 8px 8px 0 8px;
    padding: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: #fff;
    border-radius: 1px;
    font-family: 'Verdana';
}

.widget h3 {
    margin: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color:  #444444;
    background-color: #f5f4f1;
}

  .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.widget li {
    border-bottom: 1px solid #eaeaea;
    padding: 0;
}

.widget a {
    text-decoration: none;
    color:  #444444;
    display: inline-block;
    padding: 6px 7px 4px 10px;
}

.widget li:hover {
    background-color: #71387c;
}

.widget li:hover a{
    color:  white;
    font-weight: bold;
}

