*{
    margin: 0;
    padding: 0; 
}

.square {
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
}

.square .orange_square { 
    background-color: #ffcf73;
    color: #6b8fd4;
    position: relative;
}

.square .blue_square {
   background-color: #6b8fd4;
   color: #ffcf73; 
}

.square ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}

.square li {
    display: inline-block;
    height: 20vh;
    width: 20vh;
    line-height: 20vh;
    vertical-align: middle;
    font-family: 'Times New Roman';
    font-size: 20px;
}
